# ======================================================
# VURN BACKEND ENVIRONMENT VARIABLES
# ======================================================

# ==========================================
# Django
# ==========================================
DEBUG=YOUR_DEBUG_VALUE
SECRET_KEY=YOUR_DJANGO_SECRET_KEY
ALLOWED_HOSTS=YOUR_ALLOWED_HOSTS

# ==========================================
# CORS
# ==========================================
CORS_ALLOWED_ORIGINS=YOUR_CORS_ALLOWED_ORIGINS

# ==========================================
# PostgreSQL
# ==========================================
DATABASE_NAME=YOUR_DATABASE_NAME
DATABASE_USER=YOUR_DATABASE_USER
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
DATABASE_HOST=YOUR_DATABASE_HOST
DATABASE_PORT=YOUR_DATABASE_PORT

# ==========================================
# Email
# ==========================================
EMAIL_HOST=YOUR_EMAIL_HOST
EMAIL_PORT=YOUR_EMAIL_PORT
EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=YOUR_DEFAULT_FROM_EMAIL

# ==========================================
# Google Client
# ==========================================
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# ==========================================
# Redis
# ==========================================
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
REDIS_DB=YOUR_REDIS_DB
REDIS_PASSWORD=YOUR_REDIS_PASSWORD

# ==========================================
# Reset Password
# ==========================================
PASSWORD_RESET_EXPIRATION_SECONDS=YOUR_PASSWORD_RESET_EXPIRATION_SECONDS
FRONTEND_URL=YOUR_FRONTEND_URL

# ==========================================
# Cloudinary
# ==========================================
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
CLOUDINARY_AVATAR_FOLDER=YOUR_AVATAR_FOLDER

# ==========================================
# Subdomain
# ==========================================
BASE_DOMAIN=YOUR_BASE_DOMAIN
FRONTEND_PORT=YOUR_FRONTEND_PORT