# ======================================================
# VURN BACKEND ENVIRONMENT VARIABLES
# ======================================================

# ==========================================
# Django
# ==========================================
DEBUG=YOUR_DEBUG_VALUE
SECRET_KEY=YOUR_DJANGO_SECRET_KEY
ALLOWED_HOSTS=YOUR_ALLOWED_HOSTS

# ==========================================
# CORS
# ==========================================
CORS_ALLOWED_ORIGINS=YOUR_CORS_ALLOWED_ORIGINS

# ==========================================
# PostgreSQL
# ==========================================
DATABASE_NAME=YOUR_DATABASE_NAME
DATABASE_USER=YOUR_DATABASE_USER
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
DATABASE_HOST=YOUR_DATABASE_HOST
DATABASE_PORT=YOUR_DATABASE_PORT

# ==========================================
# Email
# ==========================================
EMAIL_HOST=YOUR_EMAIL_HOST
EMAIL_PORT=YOUR_EMAIL_PORT
EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=YOUR_DEFAULT_FROM_EMAIL

# ==========================================
# Google Client
# ==========================================
GOOGLE_CLIENT_ID=

# ==========================================
# Redis
# ==========================================
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
REDIS_DB=YOUR_REDIS_DB
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
