# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Virtual Environment
# ----------------------------------------
.venv/

# ----------------------------------------
# Environment Variables
# ----------------------------------------
.env.development
.env.production
.env.test

# ----------------------------------------
# Django
# ----------------------------------------
db.sqlite3
media/
staticfiles/

# ----------------------------------------
# Logs
# ----------------------------------------
*.log

# ----------------------------------------
# Test & Coverage
# ----------------------------------------
.coverage
htmlcov/
.pytest_cache/
.pytest_cache/*
.pytest_cache/**

# ----------------------------------------
# IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# OS
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Python Packaging
# ----------------------------------------
*.egg-info/
dist/
build/

# ----------------------------------------
# Mypy
# ----------------------------------------
.mypy_cache/

# ----------------------------------------
# Ruff
# ----------------------------------------
.ruff_cache/

# ----------------------------------------
# Pyright
# ----------------------------------------
.pyright/