anyio==4.14.2
asgiref==3.12.1
cachetools==6.2.6
certifi==2026.7.22
charset-normalizer==3.4.9
cloudinary==1.45.0
Django==6.0.7
django-cors-headers==4.9.0
django-environ==0.14.0
django-redis==7.0.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
google-auth==2.41.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
pillow==12.3.0
psycopg2-binary==2.9.12
pyasn1==0.6.4
pyasn1_modules==0.4.2
PyJWT==2.13.0
redis==8.1.0
requests==2.34.2
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
